<!-- Top Navigation -->
<header>
  <h1>
    <span>Inspiration for</span>&nbsp;Custom Select Elements</h1>
  <nav>
    <a href="<%- pagepathprefix %>border.html">Border</a>
    <a href="<%- pagepathprefix %>underline.html">Underline</a>
    <a href="<%- pagepathprefix %>elastic.html">Elastic</a>
    <a href="<%- pagepathprefix %>slide.html">Slide</a>
    <a href="<%- pagepathprefix %>overlay.html">Overlay</a>
    <a href="<%- pagepathprefix %>rotate.html">Rotate</a>
    <a href="<%- pagepathprefix %>box.html">Box Select</a>
    <a href="<%- pagepathprefix %>circular.html">Circular</a>
  </nav>
</header>